.home{
   display: flex;
   justify-content: flex-end;
}

.main-content{
   float: right;
   width: calc(100% - var(--width-siderbar));
   transition-duration: .3s;
}

.collapse-sidebar .main-content{
   width: calc(100% - var(--width-siderbar-off));
}


/*  */
.box-form{
   min-width: 300px;
}
.box-two,
.box-form,
.box{
   padding: 1rem;
   margin-bottom: 1rem;
   background-color: var(--color-bg-one);
   border-radius: var(--radius-base);
   box-shadow: var(--shadow-one);
   position: relative;
}
.item-input{
   margin: .6rem 0; 
}
.item-input label{
   color: var(--color-text-two);
   font-size: .85rem;
}
select:focus,
textarea:focus,
input:focus{
   border: solid 1px #5e72e4;
}
.item-input input[type=date],
.item-input input[type=email],
.item-input input[type=number],
.item-input input[type=file],
.item-input input[type=password],
.item-input input[type=search],
.item-input input[type=text],
.item-input input[type=url],
.item-input select,
.item-input textarea {
   width: 100%;
}
.item-input input[type=checkbox] {
   margin: 0 .4rem;
}
.btns-form{
   margin-top: 1rem;
   padding-top: 1rem;
   display: flex;
   justify-content: space-around;
}
.btns-form > button[type="submit"]{
   min-width: 150px;
}
.img-round-td{
   width: 35px;
   height: 35px;
}
.img-round-td img{
   width: 100%;
   height: 100%;
}

/* DOTS */
.ic--vert{
   padding: .4rem;
   border-radius: var(--radius-base);
}
.ic--vert:hover{
   background-color: var(--color-bg-two);
}

.options-dots{
   min-width: 140px;
}
.off-option{
   opacity: .6;
   cursor: not-allowed;
   pointer-events: none;
}

.d-success:hover{
   color: #28c76f;
   background-color: rgba(40,199,111,.12)
}
.d-edit:hover{
   color: #00cfe8;
   background-color: rgba(0,207,232,.12);
}
.d-del:hover{
   color: #ea5455;
   background-color: rgba(234,84,85,.12);
}

.badge-danger,
.badge-success {
   color: var(--color-text-white);
   padding: .1rem .2rem;
   border-radius: var(--radius-base);
   font-size: .8rem;
   display: inline-block;
}
.badge-success {
   background-color: #28c76f;
}
.badge-danger {
   background-color: #ea5455;
}

.loading-home{
   width: 100%;
   height: 100vh;
}
.spinner-s{
   animation: spinner .8s linear infinite;
   margin: 0 .2rem;
   display: inline-block;
}
.find-spinner i{
   display: inline-block;
   animation: spinner .8s linear infinite;
}
.spinner{
   font-size: 2rem;
   animation: spinner .8s linear infinite;
}

@keyframes spinner{
   0%{transform: rotate(0deg);}
   100%{transform: rotate(180deg);}
}

.line-empty{
   border-bottom: dotted 1px var(--color-text-two);
   min-width: 150px;
}

.logo-img{
   width: 120px;
}

.head-action-page{
   padding: 1rem 0;
   margin-bottom: .8rem;
   border-bottom: dashed 1px #ddd;
}
.head-action-page .item-input{
   margin: 0;
}
.only-print{
   display: none;
}
/* 
.gradient-1,
.h-cards .item-h-card:nth-child(1){
   background: linear-gradient(135deg,#7acaef,#4da6eb);
}
.gradient-2,
.h-cards .item-h-card:nth-child(2){
   background: linear-gradient(135deg,#73de62,#4acb85);
}
.gradient-3,
.h-cards .item-h-card:nth-child(3){
   background: linear-gradient(135deg,#fcd748,#f6b072);
}
.gradient-4,
.h-cards .item-h-card:nth-child(4){
   background: linear-gradient(135deg,#ef937f,#db5959);
} */
.h-cards{
   display: grid;
   gap: .8rem;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.h-cards .item-h-card{
   text-decoration: none;
   padding: 2rem;
   background-color: var(--color-bg-one);
   border-radius: var(--radius-base);
   text-align: center;
   color: var(--color-text-two);
   font-weight: bold;
   box-shadow: var(--shadow-one);
}
.item-h-card i{
   font-size: 2rem;
   display: block;
   margin-bottom: .8rem;
}
.find-menu-prof .h-cards{
   gap: 4px;
   display: flex;
}
.find-menu-prof .item-h-card{
   padding: .4rem .4rem;
   font-weight: initial;
   border: solid 1px;
   line-height: 1;
   display: flex;
   align-items: center;
}
.find-menu-prof .item-h-card i{
   display: inline-block;
   margin-right: .4rem;
   font-size: 1.2rem;
   margin-bottom: 0;
}
.not-link{
   text-decoration: none;
   color: var(--color-text-one);
}
.h-cards .router-link-exact-active{
   background-color: var(--color-one);
   color: white;
   border: solid 1px var(--color-one);
}

.cell--danger{
   background-color: #f9cfcf;
}
.cell--warning{
   background-color: #ffe4ca;
}
.cell--success{
   background-color: #c3efd7;
}
.cell--info{
   background-color: #b6f7ff;
}
.box-result{
   position: absolute;
   width: 100%;
   z-index: 1;
   max-height: 220px;
   overflow: auto;
}
.custom-select{
   border: solid 1px #ddd;
   border-radius: 4px;
}
.custom-select label{
   position: absolute;
   top: 5px;
   left: 5px;
   pointer-events: none;
   color: #000;
}
.opacity{
   opacity: 0;
}
.item-sr-client,
.box-result li{
   padding: .4rem;
   cursor: pointer;
   user-select: none;
}
.item-sr-client:hover,
.box-result li:hover{
   background-color: #ddd;
}
.table-small{
   font-size: .55rem;
}
.table-small td{
   padding: .15rem .1rem;
   line-height: 1.2;
}
.table-small th{
   font-size: .5rem;
}

.bx-prof-client{
   padding-bottom: 1rem;
   margin-bottom: 1rem;
   border-bottom: dashed 1px var(--color-bg-tre);
}
.disabled-tr{
   opacity: .5;
   pointer-events: none;
}

.gd-content-profroma{
   display: grid;
   grid-template-columns: 8fr 4fr;
   gap: 1rem;
}
.bx-find-proforma{
   border-radius: var(--radius-base);
   background-color: var(--color-bg-one);
   margin-bottom: 1rem;
   position: relative;
}
.bx-find-proforma{
   border: solid 2px var(--color-bg-tre);
   padding: 0.4rem;
   border-radius: var(--radius-base);
   line-height: 1.2;
   position: relative;
   margin-bottom: .4rem;
}
.mr-120{
   margin-right: 120px;
}
.bx-cotizar-item{
   position: absolute;
   right: 0;
   width: 320px;
   z-index: 10;
   box-shadow: 0 0 28px rgba(0, 0, 0, 0.45);;
}
.int-number-m{
   padding: .4rem 2px;
}
.btn-del-or{
   position: absolute;
   right: 2px;
   top: 2px;
}
.btn-del-or small{
   display: none;
   margin-left: 2px;
}
.btn-del-or:hover small{
   display: inline-block;
}
.btn-del-or:hover{
   display: block;
   background-color: var(--color-error);
   color: white;
}
.foot-orden-entrega{
   padding-top: 1rem;
   margin-top: 1rem;
   border-top: dashed 1px var(--color-bg-tre);
}
.btn-o-img{
   display: block;
   margin: auto;
   margin-right: .4rem;
}
.list-imgs-pf{
   border-radius: 20px;
   border: solid 1px var(--color-one);
   color: var(--color-one);
   padding: .4rem .6rem;
}
.bx--modal-img{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.flex-rowimg{
   display: flex;
   justify-content: center;
   margin-top: .4rem;
}
.flex-rowimg img{
   width: 80px;
   height: 80px;
   object-fit: cover;
   margin: 4px;
}
.img-show-pf{
   max-width: 80%;
   max-height: 80vh;
   margin: auto;
   display: block;
}
.wh-full{
   width: 100%;
   height: 100%;
}
.bx-crete-prof{
   border-radius: var(--radius-base);
   background-color: var(--color-bg-one);
   right: 0;
   position: absolute;
   box-shadow: 0 0 28px rgba(0, 0, 0, 0.45);
   z-index: 10;
   width: 320px;
   padding: 1rem;
}
.box-result-s{
   width: 85%;
   background-color: var(--color-bg-one);
   border-radius: var(--radius-base);
   border: solid 1px var(--color-bg-tre);
   padding: .5rem;
   position: absolute;
}
.dots-ordn{
   position: absolute;
   right: 0;
   background-color: var(--color-bg-one);
}